

@media only screen and (max-width : 992px) {
  #navigation {
    padding-left: 0;
    color: black;
    box-shadow: 0px 10px 50px 100px #284950;
    background-color: #284950;


  }
}

#modal1 {
  background-color: #D8CFAE;
}

#modal2 {
  background-color: #D8CFAE;
}

#modalFooter {
  background-color: #D8CFAE;

}

#footerModal {
  background-color: #D8CFAE;

}

#navigation {
  padding-left: 0;
  color: black;
  box-shadow: 0px 10px 50px 100px #284950;
  background-color: #284950;


}

.navText {
  color: black;

}

#navLogo {
  color: black;

}

body {

  background-color: #284950;
  margin-left:0;
  height: auto;

}

.parallax {
  height: 150%;
  box-shadow: 0px 1px 5px -1px #284950;

}

#typwritersRock {
  height: 600px;
}

.ripple{
  overflow:hidden;
  position: relative;
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);

  display: inline-block;
  background: #03a9f4; //#03A9F4;
  width: 135px;
  height: 80px;
  color: #BBC9CA;
  margin: 1rem;
  border-radius: 16px;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.5);
  user-select: none;
  pointer-events: none;
  padding: 0;
  margin: 0;
  opacity: 0.6;
  transform: translate3d(-50%,-50%,0);
}

h5 {
  font-size: 6px;
  color: black;
  text-align: center;


  margin: 0;
  user-select: none;
}

span {
  display: inline-block;
  padding: 20px;
  color: #eee;
  cursor: pointer;
  user-select: none;
  transition: box-shadow .4s;
  box-shadow: 0px 1px 4px transparent;
  margin: 20px;

  &:hover {
    box-shadow: 0px 1px 4px rgba(0,0,0,0.8);
  }

  &:active {
    transition: .2s;
    box-shadow: 0px 1px 4px transparent;
  }
}

.b1 {
  background-color: #342F86;
}

.b2 {
  background-color: #D8CFAE;
}

.b3 {
  background-color: #2E4518;
}

.b4 {
  background-color: #2980b9;
}


.button-land {
  display: inline-block;
  color: black;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 0;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  border: none;
  font-size: 15px;
  text-align: center;
}



/* label color */
   .validate  {
     color: #212121;
   }
   /* label focus color */
   .validate input:focus  {
     color: #212121;
   }
   /* label underline focus color */
   .input-field:active {
     color: pink;
     border-bottom-color: #212121;


   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #212121;
     box-shadow: 0 1px 0 0 #212121;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #212121;
     box-shadow: 0 1px 0 0 #212121;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #212121;
     /*border-bottom: 1px solid #212121;
     box-shadow: 0 1px 0 0 #212121; */
   }

#secondSalt {
  height: 80px;
  background-color: #284950;
}

#thirdSalt {
  height: 600px;
  background-color: #284950;

}

#pencil {
  margin-left: 18vw;
  margin-bottom: 23vw;
  color: #E18B50;

}

#create {
  color: #E18B50;
  font-size: 48px;
  font-family: 'Cinzel', serif;

}

#recall {
  width: auto;
  margin-top: 300vw;
  margin-bottom: 0;
  padding-bottom: 0;
  margin-left: 4vw;
}

#pencilText {
  margin-top: -293vw;
}

#edit {
  margin-left: 2vw;
  color: #E18B50;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-size: 48px;


}

#monitor {
  margin-bottom: 23vw;
  color: #E18B50;
  margin-left: 18vw;

}

#view {
  padding-left: 2vw;
  color: #E18B50;
  margin-left: 1vw;
  font-family: 'Cinzel', serif;
  font-size: 48px;


}

#notes {
  color: #E18B50;
  margin-bottom: 23.5vw;
  margin-left: 18.5vw;
}

#firstCard {
  margin-left: 12vw;
  width: 25vw;
  height: auto;
  background-color: #284950;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 21px;
}

#secondCard {
  width: 25.3vw;
  margin-left: 4vw;
  height: auto;
  background-color: #284950;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 21px;

}

#thirdCard {
  width: 25vw;
  height: auto;
  margin-left: 13vw;
  background-color: #284950;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 21px;

}


.logo {
 position: absolute;
 top: 6.5%;
 margin-left: 1vw;
 /* bring your own prefixes */
 transform: translate(-50%, -50%);
 font-size: 3rem;
 font-family: 'Cinzel', serif;
}

.logo-color1 {
 color: #E18B50 ;
 /*text-shadow: .05rem .05rem #FBF7EB ;*/
}

.logo-color2 {
 color: #FBF7EB ;
 margin-left: -6.5vw;
}

.colon {
 font-size: 3.5rem;
 margin-left: -1vw;
}

#columns {
  background-color: #284950;
  height: auto;

}
