/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #FBF7EB;
}


/* General Classes and IDs */

body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
}

nav {
  padding-top: 1px;
  padding: 10px;
  padding-bottom: 1px;
  height: 68px;
  background-color: #284950;
  box-shadow: 0px 1px 1px 0px #284950;
}

.row {
  height: 30px;
  max-width: 100%;
  overflow: hidden;
}

.left-align {
  display: inline-block;
  padding: 5px;
  float: left;
}

.right-align {
  display: inline-block;
  padding: 5px;
  float: right;
}


/* Navigation Text */

#user-text {
  font-size: 1em;
}

#help-text {
  font-size: 1em;
}


/* Navigation Elements */

.workspace-title {
  /*font-size: 1.2em;*/
  font-weight: 100;
  font-spacing: -.2px;
  padding: 5px;
}

.menu-item {
  font-size: .8em;
  padding: 5px;
}


/* Workspace App and Editor */

#workspace {
  font-size: 1vw;
  letter-spacing: -.5px;
  display: inline-block;
  float: left;
  height: 1000vh;
  width: 15vw;
  background: #013038;
  padding-left: 10px;
  overflow: hidden;
  box-shadow: 1px 0px 1px 0px #013038;
}

#search-tag {
  margin: 5px 5px 15px 0;
  border-radius: 10px;
  height: 30px;
  width: 84%;
}

.highlight:hover {
  color: #A3856B;
}

.fa-search {
  overflow: hidden;
  width: 16%;
  color: white;
}

.folder {
  /*padding: 5px;*/
  margin: 12px;
  margin-left: 10px;
  width: 100%;
}

.note {
  /*padding: 5px;*/
  margin: 12px;
  margin-left: 10px;
  width: 100%;
}

#editor {
  display: inline-block;
  height: 100vh;
  width: 85vw;
  background: #013038;
}

iframe {
  /*border: 1px black solid;*/
  width: 100%;
  height: 100%;
}

.editor-toolbar {
  height: 6vh !important;
}

.CodeMirror {
  max-width: 100%;
  max-height: 93vh;
  width: 100%;
  height: 93vh !important;
}

.fullscreen {
  max-width: 100%;
}

.CodeMirror-scroll {
  max-width: 100%;
}

.editor-statusbar {
  display: none;
}
