/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* General Classes and IDs */

body {
  position: relative;
  font-family: 'PT Sans', sans-serif;
  font-weight: 100;
  max-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  color: #FBF7EB;
  background-color: #013038;
}

nav {
  padding: 10px 5px 10px 5px;
  height: 9%;
  margin-bottom: 8px;
  background-color: #284950;
  box-shadow: 0px 1px 1px 0px #284950;
}

a {
  color: #FBF7EB;
  text-decoration: none;
}


/* unvisited link */

a:link {
  color: #FBF7EB;
  text-decoration: none;
}


/* mouse over link */

a:hover {
  color: #7A7863;
  text-decoration: none;
}


/* selected link */

a:active {
  color: #C6A78A;
  text-decoration: none;
}

.row {
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  vertical-align: middle;
}

.row:nth-child(2) {
  margin-top: 10px;
}

.left-align {
  display: inline-block;
  padding: 5px;
  float: left;
}

.right-align {
  display: inline-block;
  padding: 5px;
  float: right;
}


/* Modal Pop-up */

#faded-background {
  display: none;
  position: fixed;
  background-color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  z-index: 1;
}

#modal {
  position: absolute;
  background-color: #2B504C;
  border-radius: 10px;
  top: 30%;
  left: 30%;
  height: 40vh;
  width: 40vw;
  z-index: 3;
  font-size: 1vw;
}


/* Start Responsive Modal Design */

#modal-text-box {
  position: absolute;
  width: 96%;
  height: 85%;
  left: 2%;
  top: 11%;
  background-color: white;
  z-index: 3;
}

#modal-title {
  position: absolute;
  left: 2%;
  top: 4%;
  color: #FBF7EB;
  z-index: 3;
  font-size: 1vw;
}

#new-icon {
  display: inline-block;
  margin: 8px 5px 5px 15px;
  width: 15%;
}

#icon-text {
  font-size: 1.3vw;
  position: absolute;
  top: 9%;
  left: 20%;
  height: 10%;
  color: black;
  display: inline-block;
}

#icon-description {
  position: absolute;
  top: 24%;
  left: 20%;
  height: 10%;
  color: black;
  display: inline-block;
  font-size: .8vw;
}

#divider {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  width: 100%;
}

#form-description {
  position: absolute;
  top: 55%;
  left: 4%;
  color: black;
  display: inline-block;
}

#form-text {
  position: absolute;
  top: 65%;
  left: 0;
  height: 10%;
  margin: 0 6% 0 4%;
  width: 90%;
}

#modal-submit-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1vw;
  background-color: #FBF7EB;
  position: absolute;
  top: 83%;
  left: 52%;
  border-radius: 3px;
  width: 20%;
  height: 10%;
}

#modal-close-button {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.1vw;
  background-color: #FBF7EB;
  position: absolute;
  top: 83%;
  left: 74%;
  border-radius: 3px;
  width: 20%;
  height: 10%;
}


/* Navigation Text */

#user-text {
  font-size: 1em;
}

#help-text {
  font-size: 1em;
}


/* Navigation Elements */

.logo {
  position: absolute;
  top: 6.5%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-family: 'Cinzel', serif;
}

.logo-color1 {
  color: #E18B50;
  /*text-shadow: .05rem .05rem #FBF7EB;*/
}

.logo-color2 {
  color: #FBF7EB;
}

.colon {
  font-size: 3.5rem;
}

.workspace-title {
  font-size: 1.4em;
  font-weight: 100;
  font-spacing: -.2px;
  padding: 5px;
}

.menu-item:nth-child(1) {
  margin-left: 5px;
}

.menu-item {
  font-size: .8em;
  padding: 5px;
  margin-right: 45px;
}

.user-profile {
  margin-top: -5px;
  height: 35px;
  width: 35px;
  border-radius: 15px;
}


/* Workspace App and Editor */

#workspace {
  vertical-align: middle;
  font-size: 1vw;
  letter-spacing: -.5px;
  display: inline-block;
  float: left;
  height: 89vh;
  width: 15vw;
  background: #013038;
  padding-top: 4px;
  padding-left: 10px;
  overflow: auto;
  box-shadow: 1px 0px 0px 0px #013038;
}

#workspace h5:hover {
  color: #A3856B;
}

#search-tag {
  margin: 5px 5px 5px 5px;
  border-radius: 10px;
  height: 30px;
  width: 84%;
}

.inside {
  background-color: white;
  color: #013038;
}

.folder {
  /*padding: 5px;*/
  margin: 12px;
  margin-left: 10px;
  width: 100%;
}

.note {
  /*padding: 5px;*/
  margin: 12px;
  margin-left: 10px;
  width: 100%;
}

#editor {
  display: inline-block;
  height: 89vh;
  width: 85vw;
  background: #013038;
}

iframe {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}


/* Drop-down Support */
